@import '_base.scss';
@mixin palette ($background-color) {
    background-color: $background-color;
    color: #062546;
}

* {
    margin: $auto;
    padding: $auto;
    font-family: monospace;
    text-align: center;
}

body {
    width: $width80;
    margin-bottom: $mpercent;
    @include palette (#66ccff);
}

nav {
    margin: $auto;
    width: $width80;
    padding: 5px;
    position: sticky;
    top: 0;
    @include palette(#f5faff);
    z-index: 2;
    font-size: 1.5em;
    border: 5px double #062546;
}

.fa-brands {
    position: sticky;
    top: 0px;
}

a {
    color: #062546;
    text-decoration: none;
}

a:visited {
    color: #147ceb;
}

a:hover {
    color: #1063bc;
}

a.easter-egg {
    color: #f5faff;
}

h1 {
    font-size: 3.5em;
    margin-top: $mpercent;
    margin-bottom: 1.5%;
    font-family: Anton;
}

table {
    margin-top: $mpercent;
    margin-bottom: $mpercent;
    margin: $auto;
    width: $width80;
}

td {
    border: 2px solid black;
    @include palette (#cceeff);
    height: 90px;
}

.WoD {
    height: 55px;
    font-size: 2em;
    @include palette(#e8f2fd);
}

th {
    border: 2px dashed black;
    font-size: 4em;
    @include palette (#8de2ff);
    height: 90px;
}

footer {
    font-size: 0.8em;
    color: white;
    margin-top: 0%;
    margin-bottom: $mpercent;
}

.easteregg {
    font-size: 0.2em;
    color: #62c0ef;
    position: fixed;
    bottom: 1;
}